body {
    background-color: rgb(15, 15, 15);
    color: #fff;
    overflow: hidden;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.content-buttons {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    position: relative;
    gap: 12px;
}



.btn,
.content-num-sala form button {
    background: rgb(60, 57, 255);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    z-index: 2;
    padding: 12px;
    cursor: pointer;
}


.content-num-sala {
    background-color: rgb(28 28 28);
    position: absolute;
    color: #fff;
    padding: 20px;
    min-height: 300px;
    border-radius: 20px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-num-sala form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-num-sala form,
.content-num-sala form button,
.content-num-sala form input {
    width: 100%;
}

.content-num-sala form input {
    padding: 14px 15px;
    font-size: 13px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background: rgb(140, 138, 255);
    transition: background-color .2s;
}

.content-boards {
    gap: 10px;
    background-color: rgba(83, 82, 82, 0);
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 120px);
}

.board {
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.board:hover {
    animation: hoverSquare .5s alternate infinite;
}

@keyframes hoverSquare {
    100% {
        background-color: rgb(156, 156, 156);
    }
}

.square-o {
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(12, 109, 255);
}

.square-x {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: rgb(255 58 58);
}

.content-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding: 20px 0;
    margin-bottom: 8px;
    flex-grow: 1;
    height: 400px;
}


.content-message-input {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 0;
    padding: 20px;
}

.content-messages li {
    list-style: none;
    max-width: 170px;
    border-radius: 5px;
    overflow-wrap: break-word;
    font-size: 17px;
    font-weight: 600;
}

.messageYou,
.messageAll {
    padding: 8px 15px;
}

.messageYou {
    align-self: flex-end;
    background-color: rgb(38, 70, 255);
}

.messageAll {
    align-self: flex-start;
    color: rgb(19, 19, 19);
    background-color: rgb(255, 255, 255);
}

.content-chat-more-game {
    display: flex;
    align-items: center;
}


.btn-two {
    background-color: rgb(255 58 58);
}

.btn-two:hover {
    background-color: rgb(250, 124, 124);
}

.chat {
    min-width: 290px;
    height: 100%;
    margin-left: 20px;
    right: -299px;
    position: absolute;
    z-index: 2;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    transition: transform .5s;
    z-index: 3;
}

.content-btn-open-chat {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    left: -59px;
    display: flex;
    align-items: center;
}

.title-chat {
    font-size: 20px;
    font-weight: 700;
}

.btn-open-chat {
    cursor: pointer;
    transform: rotate(-90deg);
    margin: none;
    background-color: rgb(11 120 255);
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    font-size: 17px;
    padding: 5px 20px;
    font-weight: 500;
    position: relative;
    top: -180px;
}


ul::-webkit-scrollbar {
    width: 6px;
}

ul::-webkit-scrollbar-track {
    background: none;
}

ul::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 177);
    border-radius: 20px;
}

.form-new-message {
    display: flex;
    position: relative;
}

.input-message {
    padding: 10px 55px 10px 15px;
    background-color: rgb(228, 227, 227);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    flex: 1;
    color: rgb(19, 19, 19);
    width: 100%;
    font-weight: 500;
}

.not-message {
    font-size: 15px;
    font-weight: 500;
}

.input-message:hover {
    background-color: #fff;
}

.input-message:focus {
    background-color: #fff;
}

.btn-send-msg {
    position: absolute;
    display: none;
}

.content-spinner {
    margin-top: 14px;
}

.turn-selected {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.content-reset-and-game-turn {
    margin-top: 20px;
}

.content-reset-and-game-turn .content-info-turn {
    display: flex;
    justify-content: space-between;
}

.content-button-back {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.content-info-turn span {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 5px;
}

.content-info-turn span span {
    text-transform: uppercase;
}

.player-circle {
    color: rgb(0, 132, 255);
}

.player-cross {
    color: rgb(255, 82, 82);
}

.close-room {
    width: 100%;
    min-height: 100vh;
}

.modal-enter-room {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-winner {
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.modal-winner-or-empate {
    background-color: rgb(28 28 28);
    color: #fff;
    padding: 20px;
    min-height: 300px;
    border-radius: 20px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-winner-or-empate h3 {
    font-size: 29px;
}

.content-button-modal {
    display: flex;
    flex-direction: column;
}

.modal-winner-or-empate button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
}

.menuOpen {
    transform: translateX(-299px);
}

.content-full-room {
    display: flex;
    flex-direction: column;
}

.btn-back {
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-back:hover span {
    transform: translateX(-10px);
    transition: transform .2s;
}

.btn-back span {
    display: flex;
    align-items: center;
}

.text-time,
.full-room-title {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 700px) {
    .content-boards {
        grid-template-rows: repeat(3, 80px);
        grid-template-columns: repeat(3, 80px);
    }

    .content-buttons {
        padding: 0 40px;
    }

    .content-num-sala {
        min-width: 320px;
    }

    .modal-winner-or-empate {
        min-width: 320px;
    }

    .chat {
        right: -290px;
        width: 190px;
        height: 100%;
    }

    .content-ul-lis {
        min-height: 300px;
        max-height: 400px;
    }

    .menuOpen {
        transform: translateX(-289px);
    }

    .btn-open-chat {
        top: -225px;
    }
}

.background-svg {
    width: 100%;
    min-height: 118vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.content-loading-game {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}